.story {
  border: 2px solid #E1306C;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 2px;
  margin: 4px;
}

.story img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.post {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.post img {
  max-width: 100%;
}

.post p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.container {
  margin-top: 3rem;
}

#sectionProfile {
  margin-top: 2rem;
}

#sectionProfile p {
  margin-bottom: 0;
}

#myProfile {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

#myProfile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profiles {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profiles img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}