.story {
    border: 2px solid #E1306C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 4px;
}

.story img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}